# Nginx settings
VIRTUAL_HOST=trekie.io
LETSENCRYPT_HOST=trekie.io
LETSENCRYPT_EMAIL=hey@dorkodu.com

# WEB settings
WEB_PORT=8014

# API settings
API_PORT=8015
EPOCH_TIME=1695859200069  # Thursday, September 28, 2023 12:00:00 AM
MACHINE_ID=0

# Postgres settings
POSTGRES_HOST=trekie_postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
POSTGRSE_PORT=7007

# SMTP settings
SMTP_HOST=mailslurper
SMTP_PORT=2500
SMTP_USER=
SMTP_PASSWORD=

# Stripe settings