# Nginx settings
VIRTUAL_HOST=trekie.dorkodu.com
LETSENCRYPT_HOST=trekie.dorkodu.com
LETSENCRYPT_EMAIL=hey@dorkodu.com

# WEB settings
WEB_PORT=8000

# API settings
API_PORT=8001
EPOCH_TIME=1695859200069  # Thursday, September 28, 2023 12:00:00 AM
MACHINE_ID=0

# Postgres settings
POSTGRES_HOST=app-template_postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
POSTGRSE_PORT=7000

# SMTP settings
SMTP_HOST=mailslurper
SMTP_PORT=2500
SMTP_USER=
SMTP_PASSWORD=

# Stripe settings